absl-py                      
accelerate                   
aiohappyeyeballs             
aiohttp                      
aiosignal                    
annotated-types              
anyascii                     
attrs                        
audioread                    
babel                        
blis                         
cachetools                   
catalogue                    
certifi                      
cffi                         
charset-normalizer           
click                        
cloudpathlib                 
colorama                     
confection                   
contourpy                    
coqpit-config                
coqui-tts                    
coqui-tts-trainer            
cycler                       
cymem                        
Cython                       
dateparser                   
decorator                    
docopt                       
einops                       
encodec                      
ffmpeg-python                
filelock                     
fonttools                    
frozenlist                   
fsspec                       
future                       
google-ai-generativelanguage 
google-api-core              
google-api-python-client     
google-auth                  
google-auth-httplib2         
google-cloud-core            
google-cloud-texttospeech    
google-genai
google-generativeai          
googleapis-common-protos     
grpcio                       
grpcio-status                
gruut                        
gruut-ipa                    
gruut_lang_de                
gruut_lang_en                
gruut_lang_es                
gruut_lang_fr                
httplib2                     
huggingface-hub              
idna                         
inflect                      
Jinja2                       
joblib                       
jsonlines                    
kiwisolver                   
langcodes                    
language_data                
lazy_loader                  
librosa                      
llvmlite                     
marisa-trie                  
Markdown                     
markdown-it-py               
MarkupSafe                   
matplotlib                   
mdurl                        
monotonic-alignment-search      
more-itertools               
mpmath                       
msgpack                      
multidict                    
murmurhash                   
networkx                     
num2words                    
numba                        
numpy        
openai-whisper                
opencv-python                
packaging                    
pillow                       
pip                          
platformdirs                 
pooch                        
preshed                      
propcache                    
proto-plus                   
protobuf                     
psutil                       
pyasn1                       
pyasn1_modules               
pycparser                    
pydantic                     
pydantic_core                   
pydub                        
pyee                         
Pygments                     
pyparsing                    
pysbd                        
python-crfsuite              
python-dateutil   
python-dotenv           
python-ffmpeg                
pytz                         
PyYAML                       
regex                        
requests                     
rich                         
rsa                          
safetensors                  
scenedetect                  
scikit-learn                 
scipy                        
setuptools                   
shellingham                  
six                          
smart-open                   
soundfile                    
soxr                         
spacy                        
spacy-legacy                 
spacy-loggers                
srsly                        
SudachiDict-core             
SudachiPy                    
sympy                        
tensorboard                  
tensorboard-data-server      
thinc                        
threadpoolctl                
tokenizers                   
torch                        
torchaudio                   
tqdm                         
transformers                 
typeguard                    
typer                        
typing_extensions            
tzdata                       
tzlocal                      
uritemplate                  
urllib3 
vertexai                     
wasabi                       
weasel                       
Werkzeug                     
wrapt                        
yarl                         
yt-dlp                       